* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

#app-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

h1 {
  text-align: center;
}

#search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#search-input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
}

#search-button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#main-display,
#sub-display {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#sub-display {
  display: flex;
  flex-wrap: wrap;
}

.forecast-day {
  flex-basis: calc(33.33% - 10px);
  margin: 5px;
}

#temperature-toggle {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
